# Create an application to obtain credentials at
# https://developer.paypal.com/dashboard/applications/sandbox

CLIENT_ID="AWXIYtzRr8Tbm4HTNRBtDvtSV864HsLPp7Aq34oTib6ZerIGkSEkp6KmUwfp6NmRjdhwVFPLs2yqVVhS"
APP_SECRET="EKRRi_yBlvr7TAlov5kBRUAEx0FjYmdHb8m88khPLqCV7ShPF_UidLZyhkoOGyNeMUDU988fc3yIFBP9"
MERCHANT_ID="LYF38PZ7U7GQ8"
```
